<h1>Logga in!!!</h1>


<form action="/charities/login" method="post">
    <label for="username">Användarnamn:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Lösenord:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <input type="submit" value="Logga in">
</form>
