<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <h1>Webbserverprogrammering 1 - Slutprojekt</h1>
  

  <hr>
    <nav>
      <ul>
        <li><a href="/charities">Alla våra frukter</a></li>
        <li><a href="/charities/new">Ny frukt</a></li>
        <li><a href="/charities/login">Log In</a></li>
      </ul>
    </nav>

  <%= yield %>

  <hr>
</body>
</html>
